@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.item-list strong {
    color: #539bf5;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin: 24px 0;
}

.item-list p {
    color: #999999;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin: 24px 0;
}